<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940536959050-gt76rsfgemgl7ehija1u34g5pdmd26rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940536959050-gt76rsfgemgl7ehija1u34g5pdmd26rg</string>
	<key>API_KEY</key>
	<string>AIzaSyDB9riLuuUPoGIwNMhrDd6dIUbm9meUQyA</string>
	<key>GCM_SENDER_ID</key>
	<string>940536959050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petamin</string>
	<key>PROJECT_ID</key>
	<string>petamin-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>petamin-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940536959050:ios:0f5f03653bbf29dfe256b3</string>
</dict>
</plist>